body {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: rgb(54, 30, 30);
}


nav {
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin: auto;
    border-bottom: 5px solid tan;
    background-color: rgb(29, 83, 53);
    font-size: 13px;
}

li {
    list-style-type: none;
}
div {
    width: 150px tan;
    height:150px;
    margin: 200px black;
    padding: 200px tan;
    border: solid 25px;
    display:block;
}
input {
    position:relative;
}